# Node modules
node_modules/

# Build output
dist/
build/
out/
*.log



# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Env files
.env
.env.*

# Design files
*.sketch
*.xd
*.fig

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
